* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.header_top {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.img_logo {
    margin-right: 13px;
}
.header_top_left {
    display: flex;
    align-items: center;
}
.text_logo {
    font-family: Lato;
    font-weight: 300;
    font-size: 27px;
    color: #222222;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;    
}
.d {
    color: #f16d7f;
    font-size: 27px;
    font-family: Lato;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
    margin-right: 37px;    
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.top_button_left {
    
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    border-right: none;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    display: flex;
    align-items: center;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    font-style: normal;
    letter-spacing: normal;  
    text-decoration: none;
    height: 38px;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;    
}
.top_drop_menu {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    position: absolute;
    top: 36px;
    left: -1px;      
}
.triangle {
    position: absolute;
    background-color: #ffffff;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    top: -5px;
    left: 68px;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    
}
.top_drop_title {
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    width: 235px;
}
.top_drop_links {
    display: block;
    text-decoration: none;
    color: #4f4f4f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 32px;
}
.top_drop_links:hover {
    color: #f16d7f;
}
.top_button_left summary {
    list-style-type: none;
}
summary::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #222222;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;

}

.top_form {     
    display: flex;
}
.search_input {
    width: 280px;
    height: 38px;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    outline: none;    
    color: #9E9C9C;
}
.search_submit {    
    width: 38px;
    height: 38px;
    border: none;    
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-left:none;
}
.search_submit:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}
.search_input::placeholder {
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
}
.header_top_right {
    display: flex;
    align-items: center;
}
.cart_img{
    margin-right: 25px;
}
.top_button_right {
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.38px;
    background-color: #f16d7f;
    text-decoration: none;
    line-height: 37px;
    padding-left: 19px;
    border: 1px solid #f16d7f;  
}
.top_button_right::after {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 12px;    
}
.top_button_right:hover {
    color: #f16d7f;
    background-color: #fff;    
}
.top_button_right:hover::after {
    color: #f16d7f;
}

.line {
    height: 1px;
    background-color: #ececec;
    width: 1600px;
    margin: 0 auto;
}
.header_menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
    
}
.container_menu {
    width: 700px;
    margin: 0 auto;
}
.elements_menu {
    text-decoration: none;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    padding: 19px 20px 22px 20px;
    display: inline-block;   
}
.elements_menu:hover {
    color: #f16d7f;
}    
.header_bottom {
    background-color: #e8e8e8;    
}

.brand_title {
       
    color: #222222;
    font-family: Lato;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding-top: 224px;
    line-height: 50px;   
    
}
.lux {
    letter-spacing: 1px;
    color: #222222;
    font-size: 40px;
}

.fashion {
    color: #f16d7f;
    font-size: 40px;
    letter-spacing: 1px;     
}
.vertical_line {
    width: 12px;
    height: 97px;
    background-color: #f16d7f;
    margin-top: 224px;
    margin-right: 12px;    
}
.header_comon {
    background-image: url(img/brandface.jpg);
    display: flex;
    height: 613px;
    background-position-y:-51px;
    
}
.hot_deal {
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
}
.hot_deal_pair {
    display: flex;
    flex-direction: column;    
}
.hot_deal_pair a {
    text-decoration: none;
}

.dealman {
    background-image: url(img/dealman.jpg);
    width: 560px;
    height: 542px;
    display: flex;
}
.dealaccesories {
    background-image: url(img/dealaccesories.jpg);
    width: 560px;
    height: 261px;
    margin-top: 20px;
    display: flex;
}
.dealwoomen {
    background-image: url(img/dealwoomen.jpg);
    width: 560px;
    height: 261px;
    display: flex;
}
.dealkid {
    background-image: url(img/dealkid.jpg);
    width: 560px;
    height: 542px;
    margin-top: 20px;
    display: flex;
}
.hot_text {
    color: #222222;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    background-color: #ffffff;
    margin-top: 25px;
    padding: 10px 20px;
}
.hot_text span {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}
h2 {
    margin-top: 100px;
    margin-bottom: 16px;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    text-align: center;
}
.text {
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    text-align: center;
    margin-bottom: 60px;
}
.main_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 261px;
}

.link_card {
    text-decoration: none;
    margin-bottom: 39px;
}
.link_card:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.title_card {
    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 17px 15px;    
}
.price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 21px 15px; 
}
.button_middle {
    display: flex;
    justify-content: center;
    margin-bottom: 113px;
    margin-top: 20px;
}
.all_product {
    text-decoration: none;    
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding: 18px 0 18px 24px;
    background-color: #f16d7f;
    border: 1px solid #f16d7f;      
}
.all_product::after {
    content: "\f30b";
    font-family: FontAwesome;
    color: #ffffff;
    padding-left: 9px;
    padding-right: 19px;
}
.all_product:hover {
    border: 1px solid #f16d7f;
    background-color: #ffffff;
    color: #f16d7f;
    
}
.all_product:hover::after {
    color: #f16d7f;
}
.banner {
    display: flex;
    height: 529px;
}
.banner_left {
    position: relative;
    
}
.banner_bord {
    position: absolute;
    top: 140px;
    left: 40px;
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.banner_bord span {
    color:#f16d7f;
}
.banner_bord p {
    font-size: 32px;
    letter-spacing: 0.9px;
}
.banner_right {
    padding: 48px 43px;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner_right_title {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 17px;
}
.banner_text {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    
    text-align: left;
}
.banner_right_wraper {
    display: flex;
    align-items: flex-start;    
}
.banner_right_description {
    margin-left: 30px;
}
.subscribe {
    background-image: url(img/backreview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 438px;
    margin-top: 97px;
    
}
.subscribe_block {
    display: flex;
}
.subscribe_left_block {
    padding-top: 123px;
    display: flex;
    align-items: flex-start;
    width: 570px;

    
}
.review {
    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    margin-left: 28px;
    max-width: 386px;
}
.name_review {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: #f16d7f;
    margin-top: 20px;
}
.city_review {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.middle_line {
    width: 1px;
    background-color: #fff;
    height: 438px;    
}
.review_line_box {
    width: 140px;
    height: 4px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.review_line {
    width: 38px;
    background-color: #d6d6d6;
}
.review_line_marked {
    width: 38px;
    background-color: #f16d7f;
}

.subscribe_right_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 148px;
    width: 570px;
    
    
}
.subscribe_title {
    color: #222224;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.6px;
    
}
.subscribe_text {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
}
.subscribe_form {
    display: flex;
    margin-top: 35px;
}
.input_email {
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    border: none;
    padding: 18px 0 18px 28px;
    outline: 0;
    width: 250px;
}
.input_submit {
    border-radius: 0 23px 23px 0;
    border: 1px solid #f16d7f;
    background-color: #f16d7f;
    padding: 0 21px;
    color: #fff;
    font-size: 14px;
    font-family: Lato;
    letter-spacing: 0.35px;
}
.input_submit:hover {
    background-color: #e1e1e1;
    color: #f16d7f;
}